<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" lang="">
<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" th:href="@{/css/globals.css}">
    <link rel="stylesheet" th:href="@{/css/styleguide.css}">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <title></title>
</head>
<body>
<div class="o-auth">
    <div class="logo-with-texts">
        <div class="logo-with-text"><div class="text-wrapper">DAS</div></div>
        <div class="div">DSM Auth Service</div>
    </div>
    <div class="frame">
        <div class="text-wrapper-2">DAS 계정으로 로그인 해주세요.</div>
        <div class="frame-2">
            <form action="/login" method="post">
                <div class="frame-3">
                    <div class="input">
                        <div class="label">아이디</div>
                        <input class="placeholder-wrapper" type="text" name="username" placeholder="아이디를 입력해주세요." required/>
                    </div>
                    <div class="input">
                        <div class="label">비밀번호</div>
                        <input class="placeholder-wrapper" type="password" name="password" placeholder="비밀번호를 입력해 주세요." required/>
                    </div>
                </div>
                <p class="p">
                    <span class="span">아이디 찾기</span>
                    <span class="text-wrapper-3">&nbsp;&nbsp;/&nbsp;&nbsp;</span>
                    <span class="span">비밀번호 찾기</span>
                </p>
        </div>
        <button class="button" type="submit">
            <span class="button-2">로그인 하기</span>
        </button>
        </form>
    </div>
    <div class="text-wrapper-4">© 대덕소프트웨어마이스터고등학교</div>
</div>
</body>
</html>

